<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css" >
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/profile/default/css/stlcss.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagetip.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/busi/stl.js"></script>
<style>
	.input_text {
	    border: 1px solid #6D869E;
	    height: 17px;
	    vertical-align: middle;
	    width: 50%;
	}
	.errorMsg {
	    background:  url("$request.contextPath/profile/validate/images/alert.png) center no-repeat white;
		background-position: 5px 50%;
		background-color: #FCEFE3;
		text-align: left;
		padding: 2px 2px 2px 25px;
		border: 1px solid red;
		display: none;
		width: 100px;
		margin-top: -18px;
		margin-left: 18px;
		position: absolute;
		border-radius: 4px;
	}
	.errorImg{
	    background: url("$request.contextPath/profile/validate/images/invalid.png") no-repeat scroll 0 0 transparent;
	    height: 16px;
	    width: 16px;
	    cursor: pointer;
	    vertical-align: inherit;
	}
	/*自定义图标，样式前加上om-messageTip，提高其优先级*/
    .om - messageTip.om - messageTip - image - aomsdk {
        background - image: url("$request.contextPath/profile/validate/images/invalid.png");
    }
</style>
<script type="text/javascript">
</script>

<script>
jQuery(document).ready(function() {
	jQuery('#dataform').submit(function() {
		// 设置按钮不可用，防止重复提交
		$("#btn_update").attr("disabled", "disabled");
	    jQuery(this).omAjaxSubmit({
	        success: function(res) {
	    		window.parent.showSimpleTip(res);
				if( res == '1' ){
					closeDialog();
					window.parent.shuaxin();
				}else{
					// 设置按钮可用
					$("#btn_modify").removeAttr("disabled");
				}
	        }
	    });
	    return false;
	});
	});
</script>
</head>
<body>
<form id ="dataform" method="post" name="dataform" id="dataform" action="${request.contextPath}/stl/update.do">
#if ($!{couponMerSet})
<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="d8d8d8">
  <tr bgcolor="f2f2f2" class="top_sty" >
    <td height="26" colspan="18" align="left"><table width="100%" height="16" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="200">&nbsp;</td>
        <td width="731" height="26" align="left" class="title_clor"><span class="title_clor">$couponMerSet.accName通信账户支付业务$couponMerSet.stlDate结算账单</span></td>
        <td width="696" height="26" align="right" >制表日期：${madeDate}</td>
        <td width="10" align="right" >&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr bgcolor="f8f8f8">
    <td width="13%" rowspan="2" align="center">商户号</td>
    <td width="12%" rowspan="2" align="center">商户名称</td>
    <td width="12%" rowspan="2" align="center">子商户号</td>
    <td height="25" colspan="15" align="center">账单明细</td>
  </tr>
  <tr bgcolor="f8f8f8">
    <td height="29" colspan="9" align="center">100%移动应收信息费（元）</td>
    <td width="12%" height="29" align="center">100%移动实收信息费（元）</td>
    <td width="10%" height="29" align="center">商户分成比例</td>
    <td width="7%" height="29" align="center">不均衡短信条数</td>
    <td width="8%" height="29" align="center">不均衡金额（）元</td>
    <td width="6%" height="29" align="center">退费金额（元）</td>
    <td width="8%" align="center">结算金额（）元</td>
  </tr>
  <tr bgcolor="ffffff">
    <td align="center">$couponMerSet.accId<input type="hidden" id="accId" name="accId" value="$couponMerSet.accId"></td>
    <td align="center">$couponMerSet.accName<input type="hidden" id="accName" name="accName" value="$couponMerSet.accName" /> </td>
    <td align="center">$couponMerSet.goodsId<input type="hidden" id="goodsId" name="goodsId" value="$couponMerSet.goodsId"></td>
    <td height="25" colspan="9" align="center">$couponMerSet.muteAmt</td>
    <td height="25" align="center"><input type="text" id="billSuccAmtm" name="billSuccAmtm" value="$number.format('#0.00',$couponMerSet.billSuccAmtm)" size="5" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td>
    <td height="25" align="center">$number.format('#0.00',$couponMerSet.ext1)%</td>
    <td height="25" align="center"><input type="text" id="nbsmNum" name="nbsmNum" value="$couponMerSet.nbsmNum" size="5" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></td>
    <td height="25" align="center"><input type="text" id="nbsmAmt" name="nbsmAmt" value="$number.format('#0.00',$couponMerSet.nbsmAmt)" size="5" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td>
    <td height="25" align="center"><input type="text" id="paybackAmt" name="paybackAmt" value="$number.format('#0.00',$couponMerSet.paybackAmt)" size="5" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td>
    <td height="25" align="center"><input type="text" id="merStlPay" name="merStlPay" value="$number.format('#0.00',$couponMerSet.merStlPay)" size="5" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td>
  </tr>
</table>
#end
<ul>
<li>备注：结算周期为
#if ($!{billCycle})
	$billCycle
#end
</li>
</li>
<li class="tip_sty">结算金额=100%移动实收信息费*商户分成比例-不均衡金额-退费金额</li>
<li></li>
</ul>
	<div class="btm_btn">
		<input type="hidden" id="stlCycle" name="stlCycle" value="$couponMerSet.stlCycle">
		<input type="hidden" id="stlDate" name="stlDate" value="$couponMerSet.stlDate">
		<input type="hidden" id="billType" name="billType" value="3">
		<input type="hidden" id="localFlag" name="localFlag" value="1">
		<input type="hidden" id="settStatus" name="settStatus" value="$!couponMerSet.settStatus">
		<input id="btn_update" name="btn_update" type="submit" class="popbtn" value="修改" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
	</div>
</form>
</body>
</html>
