<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="${request.contextPath}/js/ui/themes/default/om-all.css"
	type="text/css">
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/profile/default/css/common.css">
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/profile/default/css/stlcss.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript"
	src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagetip.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script type="text/javascript"
	src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/busi/stl.js"></script>

<script>
	jQuery(document).ready(function() {
		jQuery('#dataform').submit(function() {
			// 设置按钮不可用，防止重复提交
			$("#btn_sure").attr("disabled", "disabled");
			jQuery(this).omAjaxSubmit({
				success : function(res) {
					window.parent.showSimpleTip(res);
					if (res == '1') {
						closeDialog();
						window.parent.shuaxin();
					} else {
						// 设置按钮可用
						$("#btn_modify").removeAttr("disabled");
					}
				}
			});
			return false;
		});
		jQuery('#btn_exp').click(function() {
			var vIsExport = jQuery('#isExport').val();
			if (vIsExport == '1') {
				$.omMessageBox.confirm({
					title : '确认重复导出',
					content : '您已经导出该账单，确定要重复导出吗？',
					onClose : function(value) {
						if (value) {
							jQuery('#hiddendataform').submit();
						}
					}
				});
			}else{
				jQuery('#isExport').attr("value", "1");
				jQuery('#hiddendataform').submit();
			}
		});
	});
	function sureBill() {
		window.parent.$.omMessageBox.confirm( {
			title : '账单确认',
			content : '确认通过此账单？',
			onClose : function(value) {
				if (value) {
				jQuery('#dataform').attr("action","${request.contextPath}/stl/sureBill.do");
				jQuery('#dataform').submit();
				}
		}
	});
	}

	function closeBill() {
		window.parent.$.omMessageBox.confirm( {
			title : '账单关闭',
			content : '确认关闭此账单？',
			onClose : function(value) {
				if (value) {
				jQuery('#dataform').attr("action","${request.contextPath}/stl/closeBill.do");
				jQuery('#dataform').submit();
				}
		}
	});
	}

	function invalidBill() {
		window.parent.$.omMessageBox.confirm( {
			title : '账单作废',
			content : '确认作废此账单？',
			onClose : function(value) {
				if (value) {
				jQuery('#dataform').attr("action","${request.contextPath}/stl/invalidBill.do");
				jQuery('#dataform').submit();
				}
		}
	});
	}
</script>
</head>
<body>
<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="d8d8d8">
	#if ($!{couponMerSet})
  <tr bgcolor="f2f2f2" class="top_sty" >
    <td height="26" colspan="19" align="left"><table width="100%" height="16" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="200">&nbsp;</td>
        <td width="731" height="26" align="left" class="title_clor"><span class="title_clor">$couponMerSet.accName通信账户支付业务${stlDate}结算账单</span></td>
        <td width="696" height="26" align="right" >制表日期：${madeDate}</td>
        <td width="10" align="right" >&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr bgcolor="f8f8f8">
    <td width="13%" rowspan="2" align="center">商户号</td>
    <td width="12%" rowspan="2" align="center">商户名称</td>
    <td width="12%" rowspan="2" align="center">子商户号</td>
    <td height="25" colspan="16" align="center">账单明细</td>
  </tr>
  <tr bgcolor="f8f8f8">
    <td height="25" colspan="9" align="center">交易笔数</td>
    <td width="8%" height="25" align="center">交易金额（元）</td>
    <td width="8%" height="25" align="center">核减金额（元）</td>
    <td width="7%" height="25" align="center">商户分成比例</td>
    <td width="7%" height="25" align="center">不均衡短信条数</td>
    <td width="8%" height="25" align="center">不均衡金额（元）</td>
    <td width="8%" height="25" align="center">退费金额（元）</td>
    <td width="8%" height="25" align="center">结算金额（元）</td>
  </tr>
  <tr bgcolor="ffffff">
    <td align="center">$couponMerSet.accId</td>
    <td align="center">$couponMerSet.accName</td>
    <td align="center">$couponMerSet.goodsId</td>
    <td height="25" colspan="9" align="center">$couponMerSet.succNums</td>
    <td height="25" align="center">$number.format('#0.00',$couponMerSet.succAmts)</td>
    <td height="25" align="center">$number.format('#0.00',$couponMerSet.muteAmt)</td>
    <td height="25" align="center">$number.format('#0.00',$couponMerSet.ext1)%</td>
    <td height="25" align="center">$couponMerSet.nbsmNum</td>
    <td height="25" align="center">$number.format('#0.00',$couponMerSet.nbsmAmt)</td>
    <td height="25" align="center">$number.format('#0.00',$couponMerSet.paybackAmt)</td>
    <td height="25" align="center">$number.format('#0.00',$couponMerSet.merStlPay)</td>
  </tr>
</table>
#end
<ul>
<li>备注：结算周期为
#if ($!{billCycle})
	$billCycle
#end
</li>
<li class="tip_sty">结算金额=交易金额*商户分成比例</li>
<li></li>
</ul>
<div class="btm_btn">
</div>
<form id="dataform" method="post" name="dataform" id="dataform">
			<input type="hidden" id="accId" name="accId" value="$accId" />
			<input type="hidden" id="accName" name="accName" value="$accName" /> 
			<input type="hidden" id="stlCycle" name="stlCycle" value="$stlCycle" />
			<input type="hidden" id="stlDate" name="stlDate" value="$stlDate" />
			<input type="hidden" id="goodsId" name="goodsId" value="$goodsId" />
			<input type="hidden" id="settStatus" name="settStatus" value="$settStatus" /> 
			<input type="hidden" id="billType" name="billType" value="2" />
			<div class="btm_btn">
			#if( $opts.indexOf("003") != -1 )
				#if($couponMerSet.settStatus == 0 || $couponMerSet.settStatus == 22)    
				<input id="btn_sure" name="btn_sure" type="button" class="popbtn" value="账单确认" onclick="sureBill();" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
			   	#end
		   	#end
		   	#if( $opts.indexOf("004") != -1 )
				#if($couponMerSet.settStatus == 0)
				<input id="btn_close" name="btn_close" type="button" class="popbtn" value="关闭"  onclick="closeBill();" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
				#end
			#end
			#if( $opts.indexOf("005") != -1 )
				#if($couponMerSet.settStatus == 1 ||$couponMerSet.settStatus == 11||$couponMerSet.settStatus == 2||$couponMerSet.settStatus == 21||$couponMerSet.settStatus == 22||$couponMerSet.settStatus == 3||$couponMerSet.settStatus == 4)
				<input id="btn_invalid" name="btn_invalid" type="button" class="popbtn" value="作废" onclick="invalidBill();" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
				#end
			#end
			<input id="btn_exp" name="btn_exp" type="button" class="popbtn" value="导出" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
			</div>
		</form>
		
		<form id="hiddendataform" method="post" name="hiddendataform"
			action="${request.contextPath}/stl/swbillexport.do">
			<input type="hidden" id="accId" name="accId" value="$couponMerSet.accId" />
			<input type="hidden" id="accName" name="accName" value="$couponMerSet.accName" />
			<input type="hidden" id="goodsId" name="goodsId" value="$couponMerSet.goodsId" />
			<input type="hidden" id="stlDate" name="stlDate" value="$couponMerSet.stlDate" />
			<input type="hidden" id="succNums" name="succNums" value="$couponMerSet.succNums" />
			<input type="hidden" id="succAmts" name="succAmts" value="$couponMerSet.succAmts" />
			<input type="hidden" id="muteAmt" name="muteAmt" value="$couponMerSet.muteAmt" />
			<input type="hidden" id="ext1" name="ext1" value="$couponMerSet.ext1" />
			<input type="hidden" id="nbsmNum" name="nbsmNum" value="$couponMerSet.nbsmNum" />
			<input type="hidden" id="nbsmAmt" name="nbsmAmt" value="$couponMerSet.nbsmAmt" />
			<input type="hidden" id="paybackAmt" name="paybackAmt" value="$couponMerSet.paybackAmt" />
			<input type="hidden" id="merStlPay" name="merStlPay" value="$couponMerSet.merStlPay" />
		</form>
		<input type="hidden" id="isExport" name="isExport" value="0" />
</body>
</html>
