<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/profile/default/css/common.css" type="text/css">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/zTreeStyle.css">
<script src="$request.contextPath/js/ui/jquery.ztree.all-3.4.js"></script>
<script src="$request.contextPath/js/busi/meraudit.js"></script>
<script type="text/javascript">
var setting2 = {
	data: {simpleData: {enable: true}},
	callback: {onClick: onClick2}
};
    var url ="$request.contextPath/meraudit/query.do";
    jQuery(document).ready(function() {
    	jQuery("#search_div").width(jQuery(window).width()-20);
    	
    	var optStr="${opts}";
    	var opts=optStr.split(',');
    	jQuery('[code]').each(function () {
    		var code=$(this).attr("code");
    		for(var i=0;i<opts.length;i++){
    			if(code==opts[i]){
    				$(this).css('display','inline');						
    			}
    		};
    	});
    	
    	var busiType1="${busiType}";
		var busiType=eval(busiType1);
		$.fn.zTree.init($("#busiTypeTree"), setting2, busiType);
    	
        jQuery('#grid').omGrid({
            dataSource : "$request.contextPath/meraudit/query.do?queryKey=audit.allMerAudits",
            width:'100%',
            height : 445,
            limit : 15,
            colModel : [ 
                 {header : '审核类型', name : 'AUDITTYPE', width : 50, align : 'left',renderer:function(value , rowData , rowIndex){
                 	var auditType = rowData.AUDITTYPE;
                 	var name = "";
                 	if (auditType=='1'){
                 		name = "新增";
                 	}else if (auditType=='2'){
                 		name = "修改";
                 	}else if (auditType=='3'){
                 		name = "启用";
                 	}else if (auditType=='4'){
                 		name = "禁用";
                 	}else{
                 		name = "未知";
                 	}
                 	return "<a title='"+name+"'>"+name+"</a>";
                 }}, 
                 {header : '商户名称', name : 'MERNAME', align : 'left', width : 100,renderer:function(value , rowData , rowIndex){
     				return "<a title='"+value+"'>"+value+"</a>";
     			}}, 
                 {header : '商户号', name : 'IXDATA', align : 'left', width : 50,renderer:function(value , rowData , rowIndex){
    				return "<a title='"+value+"'>"+value+"</a>";
    			}}, 
                 {header : '业务属性', name : 'IXDATA2', align : 'left', width : 80, renderer:function(value , rowData , rowIndex){
                 	return "<a title='"+value+"'>"+value+"</a>";
                 }}, 
                 {header : '商户类型', name : 'CATEGORY',width : 100, align : 'left',renderer:function(value , rowData , rowIndex){
     				return "<a title='"+value+"'>"+value+"</a>";
     			}}, 
                 {header : '提交时间', name : 'INTIME', width : 100, align : 'left',renderer:function(value , rowData , rowIndex){
    				return "<a title='"+value+"'>"+value+"</a>";
    			}}, 
                 {header : '提交人', name : 'CREATOR', width : 70, align : 'left',renderer:function(value , rowData , rowIndex){
    				return "<a title='"+value+"'>"+value+"</a>";
    			}}, 
                 {header : '审核时间', name : 'MODTIME', width : 100, align : 'left',renderer:function(value , rowData , rowIndex){
     				return "<a title='"+value+"'>"+value+"</a>";
     			}}, 
                 {header : '审核人', name : 'MODUSER', width : 70, align : 'left',renderer:function(value , rowData , rowIndex){
     				return "<a title='"+value+"'>"+value+"</a>";
     			}}, 
                 {header : '审核状态', name : 'STATE', width : 60, align : 'left', renderer:function(value , rowData , rowIndex){
                 	var state = rowData.STATE;
                 	var name = "";
                 	if (state==1){
                 		name = "不通过";
                 	}else if (state==0){
                 		name = "待审核";
                 	}else if (state==2){
                 		name = "通过";
	     			}
	             	return "<a title='"+name+"'>"+name+"</a>";
                 }},
                  {header : '操作', name : 'oper', width : 70, align : 'left', renderer:function(value , rowData , rowIndex){
                 	var state = rowData.STATE;
                 	var auditType = rowData.AUDITTYPE;
                 	var id = rowData.ID;
                 	var result="";
                 	if (auditType=='0'){
                 		return "<span color='red'>非法数据</span>";
                 	} else {
	                 	if (state==0){  //待审核，操作按钮正常
	                 		if(optStr.indexOf("011")!=-1){
                     			result+="<input name='通过' title='通过' type='image' src='${request.contextPath}/profile/default/images/tool_pass.png' onclick='goPass(&quot;" + id + "&quot;)'/>&nbsp;";
                     		}
                     		if(optStr.indexOf("012")!=-1){
                     			result+="<input name='不通过' title='不通过' type='image' src='${request.contextPath}/profile/default/images/tool_nopass.png' onclick='notPass(&quot;" + id + "&quot;)'/>&nbsp;";
                     		}
	                 	}else{  //已审核，操作按钮变灰
	                 		if(optStr.indexOf("011")!=-1){
                     			result+="<input name='通过' title='通过' type='image' src='${request.contextPath}/profile/default/images/tool_pass1.png' />&nbsp;";
                     		}
                     		if(optStr.indexOf("012")!=-1){
                     			result+="<input name='不通过' title='不通过' type='image' src='${request.contextPath}/profile/default/images/tool_nopass1.png' />&nbsp;";
                     		}
	                 	}
	                 	result+="<input id='detail' name='detail' type='image' title='详细' src='${request.contextPath}/profile/default/images/tool_details.png' onclick='show(&quot;" + id + "&quot;," + auditType + "," + state + ")' />";
                     	return result;
	                 }
                 }}
                 ],
                 autoFit : true

        });
        
        //获取提交人列表
        $('#creator').omCombo({
        		dataSource : '$request.contextPath/option/creatorlist.do',
        		width:'90px',
        		listMaxHeight:150,
        		emptyText:'全部 ' ,
        		onSuccess:function(data, textStatus, event){
  					var tmp = $.parseJSON('{"value":"","text":"全部"}');
      	  			data.unshift(tmp);
 				},
         		forceSelection : true
            });
        
        //获取审核人列表   modUser
        $('#modUser').omCombo({
               	dataSource : '$request.contextPath/option/modUserlist.do',
               	width:'90px',
               	listMaxHeight:150,
               	emptyText:'全部 ' ,
               	onSuccess:function(data, textStatus, event){
      	  			var tmp = $.parseJSON('{"value":"","text":"全部"}');
      	  			data.unshift(tmp);
         		},
         		forceSelection : true
            });
        //审核类型列表
        $('#auditType').omCombo({
            dataSource : [{"value":"","text":"全部"},{"value":"1","text":"新增"},{"value":"2","text":"修改"}
            				,{"value":"3","text":"启用"},{"value":"4","text":"禁用"}],
            width:'90px',
            emptyText:'全部 ',
            forceSelection : true
        });
        //审核状态列表
        $('#state').omCombo({
            dataSource : [{"value":"","text":"全部"},{"value":"0","text":"待审核"}
            				,{"value":"1","text":"不通过"},{"value":"2","text":"通过"}],
            width:'90px',
            emptyText:'全部 ' ,
            forceSelection:true
        });
        $('#state').omCombo('value','0');
      
	      jQuery("#dialog").omDialog({
	            autoOpen: false
	      });
	      
//	      var dialog = $("#dialog-notPass").omDialog({
//	      		title:'审核不通过',
//	            width: 350,
//                autoOpen : false,
//                modal : true,
//                resizable : false,
//                buttons: {
//                    "提交" : function(){
//		                auditNotPass();
//		                return false; //阻止form的默认提交动作
//		            },
//                    "取消" : function() {
//                        $("#dialog-notPass").omDialog("close");//关闭dialog
//                    }
//                }
//	      });
            
		$('#grid').omGrid("setData", url+"?queryKey=audit.allMerAudits&state=0");
      
    });

	//审核通过方法
    function goPass(id){
    	$.omMessageBox.confirm({
            title:'审核通过',
            content:'确认审核通过此信息？',
            onClose:function(value){
                if (value){
                	$.ajax({
                		url : '$request.contextPath/meraudit/merAuditPass.do',
                		type : 'POST',
                		dataType: 'text',
                		data : {
                		'id' : id
                	},
                	success : function(data){
                		jQuery('#grid').omGrid('reload');
                		showSimpleTip(data);  
                	}
                	});
                }
            }
        });
    }
    function notPass(id){
    	$.omMessageBox.prompt({
            title:'审核不通过',
            content:'请输入您的审核意见：',
            onClose:function(value){
                if(value===false){ //按了取消或ESC
                    return;
                }
                if(value==''){
                    alert('审核意见不能为空');
                    return false; //不关闭弹出窗口
                }
                if(byteCount(value)>64){
            		alert("审核意见最大长度为64个字符！")
            		return false;
            	}
        		$.ajax({
        				url : 'merAuditNotPass.do',
        				type : 'POST',
        				dataType: 'text',
        				data : {
        						'id' : id,
        						'resultDesc' : value
        				},
        				success : function(data){
        					try{
        						window.parent.shuaxin();
        						window.parent.showSimpleTip(data);
        					}catch(e){
        						shuaxin();
        						showSimpleTip(data);
        					}
        				}
        		});
            }
        });
//    	document.getElementById("id").innerText=id;
//    	document.getElementById("resultDesc").innerText="";
//    	$("#dialog-notPass").omDialog("open");
    }
//    function auditNotPass(){
//    	var id = document.getElementById("id").value;
//    	goNotPass(id);
//    }
</script>
</head>
<body>
	
	<!--背景-->
    <div class="list_btntool" style="height:1px;"></div>
   <!--列表查询区-->
   <div  id="search_div">
	<div class="list_search" >
     <table width="100%" border="0" align="center">
       <tr>
       <td width="8%">&nbsp;</td>
         <th width="10%" height="30">审核状态：</th>
         <td width="13%"><input id="state" name="state" class="select1"/></td>
         <th width="10%">审核类型：</th>
         <td width="13%"><input id="auditType" name="auditType" class="select1"/></td>
         <th width="10%">商户号：</th>
         <td width="13%"><input id="ixData" name="ixData" type="text" class="input1" /></td>
        <td rowspan="2"><input id="query" name="query" type="image" src="${request.contextPath}/profile/default/images/Search_bnt.png" onclick="query()"/>
         <td width="8%">&nbsp;</td>
       </tr>
       <tr>
       <td width="8%">&nbsp;</td>
         <th>提交人：</th>
         <td><input id="creator" name="creator" class="select1"" /> </td>
         <th>审核人：</th>
         <td>
          <input id="modUser" name="modUser" class="select1" />
         </td>
         <th width="10%">业务属性：</th>
         <td width="13%">
         	<span class="om-combo om-widget om-state-default" style="width: 90px;">
	     		<input type="text" id="merBusiType" readonly value="全部" onclick="showMenu2(); return false;" onkeydown="refuseBackspace()" class="select1" style="width: 69px;"><span onclick="showMenu2(); return false;" class="om-combo-trigger ioi_trigger"></span>
	     	</span>
	     	<input type="hidden" id="ixData2" name="ixData2" value="" type="text" />
         </td>
      </td>
       </tr>
     </table>
    </div>
   </div>
   <!--列表区-->
   <div align="center">
         <table align="left" id="grid" ></table>
     </div>
 <div id="dialog">
    	<iframe frameborder="0" style="width:100%;height:100%" src="about:blank"></iframe>
</div>
<div id="menuContent2" class="list_zTree">
	<ul id="busiTypeTree" class="ztree" style="margin-top:0; width:160px; height:150px;overflow:auto;"></ul>
</div>
</body>
</html>
