<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/profile/default/css/common.css" type="text/css">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script src="$request.contextPath/js/busi/meraudit.js"></script>
</head>
<body>
<div>	
<!--审核后的商户详情页面-->
<form id="dataform" method="post" name="dataform">
	<table align="left" class="infowrite" cellspacing="0" cellpadding="0" width="100%" >
		<tr>
		    <th width="125">商户号：</th>
			<td class="td" colspan="2">${audit.merId}</td>
		</tr>
		<tr>
		    <th >商户名称：</th>
			<td class="td1" colspan="2">$!{audit.merName}</td>
		</tr>
		<tr>
		    <th width="125">业务属性：</th>
			<td class="td" colspan="2">$!{audit.busiType}</td>
		</tr>
		<tr>
		    <th>商户分类：</th>
			<td class="td1" colspan="2">$!{audit.category}</td>
		</tr>
		<tr>
		    <th>接口类型：</th>
			<td class="td">$!{audit.interType}</td>
			#if(${auditType}==3)
				<td width="40%" class="td" rowspan="2"><h2>禁用-><span style="color:red">启用</span><h2></td>
			#elseif(${auditType}==4)
				<td width="40%" class="td" rowspan="2"><h2>启用-><span style="color:red">禁用</span><h2></td>
			#else
				<td class="td"></td>
			#end
		</tr>
		<tr>
		     <th>是否渠道报备：</th>
			<td class="td1">$!{audit.chnlCheck}</td>
			#if(${auditType}==1 || ${auditType}==2)
				<td class="td1"></td>
			#else
			#end
		</tr>
		<tr>
		     <th>开通对账文件下载：</th>
			<td class="td" colspan="2">$!{audit.fileDLName}</td>
		</tr>
		<tr>
		    <th>运营负责人：</th>
			<td class="td1" colspan="2">$!{audit.operator}</td>
		</tr>
		<tr>
		    <th>公司名称：</th>
			<td class="td" colspan="2">$!{audit.companyName}</td>      
		</tr>
		#if(${resultDesc} == "")
	     #else
	     	<tr><td height="63" colspan="3" align="left" valign="bottom"><textarea id="resultDesc1" rows="3" disabled="disabled" style="{width:100%;}">$!{resultDesc}</textarea></td></tr>
	     #end
	</table>
	 <div class="pop_btn_sh">
	   <input type="button" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="关闭" onclick="closeDialog()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 </div>
</form>
</div>
</body>
</html>