<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/profile/default/css/common.css" type="text/css">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid-standard.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script src="$request.contextPath/js/busi/proxygoodsaudit.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	
	var optStr="${opts}";
	var opts=optStr.split(',');
	jQuery('[code]').each(function () {
		var code=$(this).attr("code");
		for(var i=0;i<opts.length;i++){
			if(code==opts[i]){
				$(this).css('display','inline');						
			}
		};
	});
	
	jQuery('#grid').omGrid({
        dataSource : "$request.contextPath/proxygoodsaudit/showBatchDetail.do?batchId="+${batchId},
        width:'100%',
        height : 400,
        limit : 10,
        colModel : [ {header : '提交时间', name : 'INTIME',width : 100, align : 'left',renderer:function(value , rowData , rowIndex){
        				return "<a title='"+value+"'>"+value+"</a>";
        			}}, 
                     {header : '代理商户号', name : 'MERID', width : 50, align : 'left',renderer:function(value , rowData , rowIndex){
                     	    return "<a title='"+value+"'>"+value+"</a>";
                      }},
                      {header : '二级商户号', name : 'SUBMERID', width : 50, align : 'left',renderer:function(value , rowData , rowIndex){
                     	    return "<a title='"+value+"'>"+value+"</a>";
                      }},
                     
                      {header : '商品号', name : 'GOODSID', width : 50, align : 'left',renderer:function(value , rowData , rowIndex){
                     	    return "<a title='"+value+"'>"+value+"</a>";
                      }},
                      
                   
                     {header : '商品日销量', name : 'DAYLIMIT',width : 60,align : 'left',renderer:function(value , rowData , rowIndex){
                  	    return "<a title='"+value+"'>"+value+"</a>";
                     }},
                     {header : '预警数', name : 'ALARMLIMIT',width : 60,align : 'left',renderer:function(value , rowData , rowIndex){
                  	    return "<a title='"+value+"'>"+value+"</a>";
                     }},
                     {header : '预警号码', name : 'ALARMTEL',width : 60,align : 'left',renderer:function(value , rowData , rowIndex){
                 	    return "<a title='"+value+"'>"+value+"</a>";
                    }}
                     
                    ],
                    autoFit:true
    });
	$('#grid').omGrid("setData", "$request.contextPath/proxygoodsaudit/showBatchDetail.do?batchId="+${batchId});
	
});
//批量审核通过方法
function goBatchPass(batchId){
	var flag = confirm("确认审核通过此信息？");
	if (flag){
		$.ajax({
			url : '$request.contextPath/proxygoodsaudit/goPass.do',
			type : 'POST',
			dataType: 'text',
			data : {
					'batchId' : batchId
			},
			success : function(data){
				closeDialog();
				window.parent.shuaxin();
				window.parent.showAuditTip(data);
			}
		});
	}
}

//批量审核不通过方法             
function goNotPass(batchId){
	$.omMessageBox.prompt({
        title:'审核不通过',
        content:'请输入您的审核意见：',
        onClose:function(value){
            if(value===false){ //按了取消或ESC
                return;
            }
            if(value==''){
                alert('审核意见不能为空');
                return false; //不关闭弹出窗口
            }
            if(byteCount(value)>64){
        		alert("审核意见最大长度为64个字符！")
        		return false;
        	}
    		$.ajax({
    				url : '$request.contextPath/proxygoodsaudit/notPass.do',
    				type : 'POST',
    				dataType: 'text',
    				data : {
    						'batchId' : id,
    						'resultDesc' : value
    				},
    				success : function(data){
    					closeDialog();
    					window.parent.shuaxin();
    					window.parent.showAuditTip(data);
    				}
    		});
        }
    });
}
</script>
</head>
<body>
<form id ="dataform-mod" method="post" name="dataform-mod">
<table id="grid" align="left"></table>
<div style="text-align: center;">
	<input type="button" class="popbtn" code="013" style="display:none" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="通过" onclick="goBatchPass($batchId);"/>
	<input type="button" class="popbtn" code="014" style="display:none" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="不通过" onclick="goNotPass($batchId)"/>
	<input type="button" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="返回" onclick="closeDialog()"/>
</div>
</form>
</body>
</html>