<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css" >
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/busi/couponmertel.js"></script>
<style>
	.input_text {
	    border: 1px solid #6D869E;
	    height: 17px;
	    vertical-align: middle;
	    width: 50%;
	}
	.errorMsg {
	    background:  url("$request.contextPath/profile/validate/images/alert.png) center no-repeat white;
		background-position: 5px 50%;
		background-color: #FCEFE3;
		text-align: left;
		padding: 2px 2px 2px 25px;
		border: 1px solid red;
		display: none;
		width: 100px;
		margin-top: -18px;
		margin-left: 18px;
		position: absolute;
		border-radius: 4px;
	}
	.errorImg{
	    background: url("$request.contextPath/profile/validate/images/invalid.png") no-repeat scroll 0 0 transparent;
	    height: 16px;
	    width: 16px;
	    cursor: pointer;
	    vertical-align: inherit;
	}
	/*自定义图标，样式前加上om-messageTip，提高其优先级*/
    .om - messageTip.om - messageTip - image - aomsdk {
        background - image: url("$request.contextPath/profile/validate/images/invalid.png");
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function() {
		// 按钮权限控制
        var optStr = "${opts}";
        var opts = optStr.split(',');
        jQuery('[code]').each(function() {
            var code = $(this).attr("code");
            for (var i = 0; i < opts.length; i++) {
                if (code == opts[i]) {
                    $(this).css('display', 'inline');
                }
            }
        });
		
      	//初始化商户列表
        $('#merId').omCombo({
            dataSource: '$request.contextPath/option/couponmerinflist.do',
            width: '155px',
            emptyText: '全部',
			listAutoWidth: true,
            forceSelection: true,
            onSuccess:function(data, textStatus, event){
		      	  var tmp = $.parseJSON('{"value":"","text":"全部"}');
		      	  data.unshift(tmp);
	   		}
        });
		
        jQuery('#grid').omGrid({
            dataSource: "$request.contextPath/couponmertel/query.do?queryKey=couponmertel.all",
            width: '100%',
            height: 446,
            limit: 15,
            colModel: [{
                header: '商户',
                name: 'mer',
                width: 183,
                align: 'center',
                renderer: function(value, rowData, rowIndex) {
                	return "<a title='" + rowData.MERID + "'>" + rowData.MERNAME + "（" + rowData.MERID + "）" + "</a>";
                }
            },
        
            {
                header: '兑换座机/手机号',
                name: 'linkTel',
                width: 155,
                align: 'left',
				renderer: function(value, rowData, rowIndex) {
					return "<a title='" + rowData.LINKTEL + "'>" + rowData.LINKTEL + "</a>";
                }
            },
            {
                header: '兑换方式',
                name: 'exchangeType',
                width: 155,
                align: 'center',
                renderer: function(value, rowData, rowIndex) {
                	return "<a title='" + rowData.EXCHANGETYPENAME + "'>" + rowData.EXCHANGETYPENAME + "</a>";
                }
            },
            {
                header: '启用状态',
                name: 'state',
                width: 80,
                align: 'center',
                renderer: function(value, rowData, rowIndex) {
                	return "<a title='" + rowData.STATENAME + "'>" + rowData.STATENAME + "</a>";
                }
            },
            {
                header: '备注',
                name: 'remark',
                width: 328,
                align: 'left',
                renderer: function(value, rowData, rowIndex) {
                	return "<a title='" + rowData.REMARK + "'>" + rowData.REMARK + "</a>";
                }
            },
            {
                header: '操作',
                name: 'opt',
                width: 60,
                align: 'center',
                renderer: function(value, rowData, rowIndex) {
                    var result = "<img title='修改' src='${request.contextPath}/profile/default/images/tool_modify.png' onclick='showModifyDialog(\"" + rowData.MERTELID + "\")' />";
                    return result;
                }
            }]
        });

        jQuery( "#dialog").omDialog({
            autoOpen: false
        });
		
		$('.errorImg').bind('mouseover',function(){
        $(this).next().css('display','block');
		}).bind('mouseout',function(){
			$(this).next().css('display','none');
		});
		
		jQuery('#dataform').submit(function() {
			if (!jQuery("#dataform").valid()) 
				return false;
			jQuery(this).omAjaxSubmit({
    			success:function(res){
 
				}
			});
			
			return false; 
		});
	});
</script>
</head>
<body>
	<div class="main_list">
	    <!-- 列表查询区 -->
	    <div class="list_search" style="height: 40px;">
	        <table width="100%" border="0">
	            <tr>
	                <td>
	                    <form id="form" action="" method="post">
	                        <table width="100%" border="0">
	                            <tr height="50">
	                                <th width="10%">
	                                    	商户：
	                                </th>
	                                <td>
	                                    <input id="merId" name="merId" />
	                                </td>
	                                <th width="10%">
	                                    	兑换电话：
	                                </th>
	                                <td>
	                                    <input id="linkTel" name="linkTel" class="input2" maxlength="13" />
	                                </td>
	                            </tr>
	                        </table>
	                    </form>
	                </td>
	                <td rowspan="2">
	                    <input id="query" name="query" type="image" value="ee" src="${request.contextPath}/profile/default/images/Search_bnt.png"
	                    	onclick="query()" />
	                    &nbsp;&nbsp;&nbsp;&nbsp;
	                    <input code="002" name="添加兑换券" type="image" value="ee"
	                    	src="${request.contextPath}/profile/default/images/btn_Add.png" onclick="add()" />
	                </td>
	            </tr>
	        </table>
	    </div>
	    <!-- 列表查询区 -->
	    <div align="center">
	        <table align="left" id="grid">
	        </table>
	    </div>
	    <div id="dialog">
	        <iframe frameborder="0" style="width:100%;height:99%" src="about:blank">
	        </iframe>
	    </div>
	</div>
</body>
</html>
