<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css" >
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagetip.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/busi/couponinf.js"></script>
<style>
	.input_text {
	    border: 1px solid #6D869E;
	    height: 17px;
	    vertical-align: middle;
	    width: 50%;
	}
	.errorMsg {
	    background:  url("$request.contextPath/profile/validate/images/alert.png) center no-repeat white;
		background-position: 5px 50%;
		background-color: #FCEFE3;
		text-align: left;
		padding: 2px 2px 2px 25px;
		border: 1px solid red;
		display: none;
		width: 100px;
		margin-top: -18px;
		margin-left: 18px;
		position: absolute;
		border-radius: 4px;
	}
	.errorImg{
	    background: url("$request.contextPath/profile/validate/images/invalid.png") no-repeat scroll 0 0 transparent;
	    height: 16px;
	    width: 16px;
	    cursor: pointer;
	    vertical-align: inherit;
	}
	/*自定义图标，样式前加上om-messageTip，提高其优先级*/
    .om - messageTip.om - messageTip - image - aomsdk {
        background - image: url("$request.contextPath/profile/validate/images/invalid.png");
    }
</style>
<script type="text/javascript">
	//	var url ="$request.contextPath/urp/uniquery.do";
    var url = "$request.contextPath/goodsinf/query.do";
    jQuery(document).ready(function() {
        var optStr = "${opts}";
        var opts = optStr.split(',');
        jQuery('[code]').each(function() {
            var code = $(this).attr("code");
            for (var i = 0; i < opts.length; i++) {
                if (code == opts[i]) {
                    $(this).css('display', 'inline');
                }
            };
        });
		
		$(".signin").click(function(e) {
            e.preventDefault();
            $("fieldset#signin_menu").toggle();
            $(".signin").toggleClass("menu-open");
        });
		
		$("fieldset#signin_menu").mouseup(function() {
			return false
		});
		
		$(document).mouseup(function(e) {
			if($(e.target).parent("a.signin").length==0) {
				$(".signin").removeClass("menu-open");
				$("fieldset#signin_menu").hide();
			}
		});	
		
        jQuery('#grid').omGrid({
            dataSource: "$request.contextPath/couponinf/query.do?queryKey=coupon.all",
            width: '100%',
            height: 470,
            limit: 15,
            singleSelect: false,
            rowClasses: function(rowIndex, rowData) {
                if (rowData.MODLOCK == 1) {
                    return "lock";
                } else {
                    return "checkbox";
                }
            },
            colModel: [{
                header: '编号',
                name: 'couponId',
                width: 100,
                align: 'center',
                renderer: function(value, rowData, rowIndex) {
                    return "<a title='" + rowData.COUPONID + "'>" + rowData.COUPONID + "</a>";
                }
            },
        
            {
                header: '名称',
                name: 'couponName',
                width: 120,
                align: 'left',
				renderer: function(value, rowData, rowIndex) {
                    return "<a title='" + rowData.COUPONNAME + "'>" + rowData.COUPONNAME + "</a>";
                }
            },
            {
                header: '金额（元）',
                name: 'price',
                width: 50,
                align: 'left',
                renderer: function(value, rowData, rowIndex) {
                    return "<a title='" + rowData.PRICE/100 + "'>" + rowData.PRICE/100 + "</a>";
                }
            },
            {
                header: '类型',
                name: 'couponType',
                width: 50,
                align: 'left',
                renderer: function(value, rowData, rowIndex) {
                    return "<a title='" + rowData.COUPONTYPE + "'>" + rowData.COUPONTYPE + "</a>";
                }
            },
            {
                header: '启用状态',
                name: 'state',
                width: 100,
                align: 'left',
                renderer: function(value, rowData, rowIndex) {
					if( rowData.STATE == 4 ){
						return "未启用";
					}else if( rowData.STATE == 2 ){
						return "启用";
					}else{
						return "未知";
					}
                }
            },
            {
                header: '审核状态',
                name: 'auditState',
                width: 75,
                align: 'left',
                renderer: function(value, rowData, rowIndex) {
                    if( rowData.AUDITSTATE == 0 ){
						return "待审核";
					}else if( rowData.AUDITSTATE == 1 ){
						return "审核不通过";
					}else if( rowData.AUDITSTATE == 2 ){
						return "审核通过";
					}else{
						return "未知";
					}
                }
            },
            {
                header: '操作',
                name: 'couponId',
                width: 70,
                align: 'left',
                renderer: function(value, rowData, rowIndex) {
                    var result = "<img title='详情' src='${request.contextPath}/profile/default/images/tool_details.png' onclick='showDetailDialog(\"" + rowData.COUPONID + "\")' />";
					result += "&nbsp;&nbsp;<img title='修改' src='${request.contextPath}/profile/default/images/tool_modify.png' onclick='showModifyDialog(\"" + rowData.COUPONID + "\")' />";
					result += "&nbsp;&nbsp;<img title='审核' src='${request.contextPath}/profile/default/images/tool_audit.png' onclick='showAuditDialog(\"" + "1212040000000032" + "\")' />";
                    return result;
                }
            }],
            autoFit: true
        });

        jQuery( "#dialog").omDialog({
            autoOpen: false
        });
        
		jQuery('#modify').bind('click',
        function() {
            var selections = $('#grid').omGrid('getSelections', true);
            if (selections.length == 0) {
                alert('请至少选择一行记录');
                return false;
            }
            showModifyDialog(selections[0].MERID); //显示dialog
        });
		
		$('.errorImg').bind('mouseover',function(){
        $(this).next().css('display','block');
		}).bind('mouseout',function(){
				$(this).next().css('display','none');
		});
		
		jQuery('#dataform').submit(function() {
			if (!jQuery("#dataform").valid()) 
				return false;
			jQuery(this).omAjaxSubmit({success:function(res){
		      showSimpleTip(res);
				close();
			}
			});
			
			return false; 
		});
	});
	
	
	var timeout = 500;
    var closetimer= 0;
    var ddmenuitem = 0;
    // open hidden layer
    function mopen(id)
    {	
    	// cancel close timer
    	mcancelclosetime();
    
    	// close old layer
    	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
    
    	// get new layer and show it
    	ddmenuitem = document.getElementById(id);
    	ddmenuitem.style.visibility = 'visible';
    
    }
    // close showed layer
    function mclose()
    {
    	if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
    }
    
    // go close timer
    function mclosetime()
    {
    	closetimer = window.setTimeout(mclose, timeout);
    }
    
    // cancel close timer
    function mcancelclosetime()
    {
    	if(closetimer)
    	{
    		window.clearTimeout(closetimer);
    		closetimer = null;
    	}
    }
    
    // close layer when click-out
    document.onclick = mclose; 
</script>

<script>
    function add(){
    	$( "#dialog").omDialog("option","width",'650');
	    $( "#dialog").omDialog("option","title",'添加兑换券信息');
	    $( "#dialog").omDialog("option","height",'520');
	    $( "#dialog").omDialog("option", "modal", true);
        $( "#dialog").omDialog('open');
		var frameLoc=window.frames[0].location;
        frameLoc.href='add.do';
    }
    </script>
</head>
<body>
 <div class="main_list">
   <!--增 删 改按钮区-->
   <div class="list_btntool">
     <table border="0" width="100%">
     <tr>
     	<td align="left">
			<input  name="批量不通过" code="003" type="image" value="ee" src="${request.contextPath}/profile/default/images/bnt_no_pass.png" onclick="" />
			<input name="批量通过" code="004" type="image" value="ee" src="${request.contextPath}/profile/default/images/bnt_pass.png" onclick=""/>
		</td>
       </tr>
     </table>
   </div>
 
   <!--列表查询区-->
   <div class="list_search" style="height: 40px;">
   <table width="100%" border="0">
   <tr>
    <td>
      <form id="form" action="" method="post"> 
        <table width="100%" border="0">
          <tr>
            <th width="10%" height="30">兑换券编号：</th>
              <td width="13%"><input id="couponId" name="couponId" type="text" class="input1" /></td>
           <th width="10%">兑换券名称：</th>
             <td width="13%"><input id="couponName" name="couponName" type="text" class="input1" /></td>
		   <th width="10%">启用状态：</th>
             <td><select id="couponState" name="couponState" class="select1">
					<option value="-1">请选择</option>
					<option value="2">启用</option>
					<option value="4">不启用</option>
                </select>
            </td>
           <th width="10%">审核状态：</th>
		     <td><select id="auditType" name="auditType" class="select1">
					<option value="-1">请选择</option>
					<option value="2">审核通过</option>
					<option value="0">待审核</option>
					<option value="1">审核不通过</option>
                </select>
             </td>
         </tr>
        </table>
         </form> 
       </td>
        <td>
			<input id="query" code="001"  name="query" type="image" value="ee" src="${request.contextPath}/profile/default/images/Search_bnt.png" onclick="query()"  />
			&nbsp;&nbsp;&nbsp;&nbsp;<input name="添加兑换券" code="005" type="image"  value="ee" src="${request.contextPath}/profile/default/images/btn_Add.png" onclick="add()"/>
        </td>
       </tr>
        </table>
      </div>
    
 <!--列表查询区-->

  <div align="center">
         <table  align="left" id="grid" ></table>
     </div>
    
  
 <div id="dialog">
	<iframe frameborder="0" style="width:100%;height:99%" src="about:blank"></iframe>
 </div>

</body>
</html>
