<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/busi/common.js"></script>
<script src="$request.contextPath/js/busi/proxygoods.js"></script>
<script type="text/javascript">

  var url="$request.contextPath/proxygoods/query.do?queryKey=proxygoods.all";
    jQuery(document).ready(function() {
    	jQuery("#search_div").width(jQuery(window).width()-20);

		    var optStr="${opts}";
			var opts=optStr.split(',');
		    jQuery('[code]').each(function () {
		        var code=$(this).attr("code");
		        for(var i=0;i<opts.length;i++){
				   if(code==opts[i]){
					   $(this).css('display','inline');
					}
	    		};
			});
	
      jQuery('#grid').omGrid({
            dataSource : url,
            width:'100%',
            height : 455,
            limit : 15,
            singleSelect : false,
            rowClasses : function(rowIndex,rowData){
				if(rowData.MODLOCK==1){
					return "lock";
				}else{
					return "checkbox";
				}
			},
            colModel : [ {header : '更新时间', name : 'MODTIME',width : 80, align : 'left',renderer:function(value , rowData , rowIndex){
            				return "<a title='"+value+"'>"+value+"</a>";
            			}}, 
                         {header : '代理商户号', name : 'MERID', width : 50, align : 'left',renderer:function(value , rowData , rowIndex){
                         	    return "<a title='"+value+"'>"+value+"</a>";
                          }},
                          {header : '二级商户号', name : 'SUBMERID', width : 50, align : 'left',renderer:function(value , rowData , rowIndex){
                         	    return "<a title='"+value+"'>"+value+"</a>";
                          }},
                          {header : '二级商户名称', name : 'SUBMERNAME',width : 80, align : 'left',renderer:function(value , rowData , rowIndex){
                        	  return "<a title='"+value+"'>"+value+"</a>";
                          }},
                          {header : '商品号', name : 'GOODSID', width : 50, align : 'left',renderer:function(value , rowData , rowIndex){
                         	    return "<a title='"+value+"'>"+value+"</a>";
                          }},
                          {header : '商品名称', name : 'GOODSNAME',width : 80, align : 'left',renderer:function(value , rowData , rowIndex){
                        	  return "<a title='"+value+"'>"+value+"</a>";
                          }},
                         {header : '服务类型', name : 'SERVTYPE',width : 60,align : 'left',renderer:function(value , rowData , rowIndex){
                        	var name = "";
                    	    if(value==2)
                    	    	name = "按次";
                       		else if(value==3)
                       			name = "包月";
                      	    return "<a title='"+name+"'>"+name+"</a>";
                         }},
                         {header : '商品日销量', name : 'DAYLIMIT',width : 50,align : 'left',renderer:function(value , rowData , rowIndex){
                      	    return "<a title='"+value+"'>"+value+"</a>";
                         }},
                         {header : '预警数', name : 'ALARMLIMIT',width : 50,align : 'left',renderer:function(value , rowData , rowIndex){
                      	    return "<a title='"+value+"'>"+value+"</a>";
                         }},
                         {header : '状态', name : 'STATE',width : 50,align : 'left',renderer:function(value , rowData , rowIndex){
                         	var state = rowData.STATE;
                         	var name = "";
                         	if(state==2){
                         		name = "启用";
                         	}else{ 
                         		name = "禁用";
                            }
                          	return "<a title='"+name+"'>"+name+"</a>";
                         }
                         },
                         {header : '操作', name:'oper',width : 70, align : 'left',renderer:function(value , rowData , rowIndex){
                             	var state = rowData.STATE;
                             	var merId = rowData.MERID;
                             	var subMerId=rowData.SUBMERID;
                             	var goodsId = rowData.GOODSID;
                             	var modLock=rowData.MODLOCK;
                             	var result="";
                             	
                             	if(optStr.indexOf("004")!=-1){//有启用权限
                             		if(modLock==0&&state==4){
                             			result+="<input name='启用' title='启用' type='image' src='${request.contextPath}/profile/default/images/tool_Enable.png' onclick='singleEnable(&quot;"+merId+"&quot;,&quot;"+subMerId+"&quot;,&quot;"+ goodsId +"&quot;)'/> ";
                             		}else{
                             			result+="<input name='启用' title='启用' type='image' disabled='disabled' src='${request.contextPath}/profile/default/images/tool_Enable1.png'/> ";
                             		}
                             	}
                             	if(optStr.indexOf("003")!=-1){//有禁用权限
                             		if(modLock==0&&state==2){
                             			result+="<input name='禁用' title='禁用' type='image' src='${request.contextPath}/profile/default/images/tool_Disable.png' onclick='singleDisable(&quot;"+merId+"&quot;,&quot;"+subMerId+"&quot;,&quot;"+ goodsId +"&quot;)'/> ";  			                             				
                             		}else{
                             			result+="<input  name='禁用' title='禁用' type='image' disabled='disabled' src='${request.contextPath}/profile/default/images/tool_Disable1.png'/> ";
                             		}
                             	}
                             	if(optStr.indexOf("007")!=-1){//有修改权限
                             		if(modLock==0)
                             			result+=" <input  name='修改' title='修改' type='image' src='${request.contextPath}/profile/default/images/tool_modify.png' onclick='modify(&quot;"+merId+"&quot;,&quot;"+subMerId+"&quot;,&quot;"+goodsId+"&quot;)'/> ";
                             		else
                             			result+=" <input  name='修改' title='修改' type='image' disabled='disabled' src='${request.contextPath}/profile/default/images/tool_modify1.png' /> ";
                             	}
                             	return result;	
                         }}
                        ],
                        autoFit:true
        });
        
        jQuery( "#dialog").omDialog({
            autoOpen: false
         });
         
      //服务类型   
    	  $('#servType').omCombo({
            dataSource : [{"value":"","text":"全部"},{"value":"2","text":"按次"},{"value":"3","text":"包月"}],
            width:'85px',
            listMaxHeight:80,
            emptyText:'全部 ' ,
            forceSelection : true
        });
	//状态       
  	  $('#state').omCombo({
          dataSource : [{"value":"","text":"全部"},{"value":"2","text":"启用"},{"value":"4","text":"禁用"}],
          width:'85px',
          emptyText:'全部 ' ,
          forceSelection : true
      });
  	  
    });
    
   
</script>

</head>
<body>

    <!--增 删 改按钮区-->
    <div class="list_btntool">
      <table border="0" width="100%">
        <tr>
        <td align="left">
             <input name="禁用" type="image" title='禁用' style="display:none" code="003" src="${request.contextPath}/profile/default/images/btn_Disable.png" onclick="batchDisable();"/>
             <input name="启用" type="image" title='启用' style="display:none" code="004" src="${request.contextPath}/profile/default/images/btn_Enable.png" onclick="batchEnable();"/></td>
		<td align="right">
		     <input name="添加代理商品" type="image" title='添加代理商品' style="display:none" code="005" src="${request.contextPath}/profile/default/images/btn_Add.png" onclick="add();"/>
		     <input name="批量添加代理商品" type="image" title='批量添加代理商品' style="display:none" code="006" src="${request.contextPath}/profile/default/images/btn_Add2.png" onclick="batchAdd();"/>
         </tr>
        </table>
     </div>
  
 <!--列表查询区-->
 <div  id="search_div">
   <div class="list_search">
   <table width="80%" border="0">
       <tr>
        <td  align="left" >
          <!--查询块区 start--> 
           <form id="form" method="post"> 
            <table width="100%" border="0">
              <tr>
	              <th width="10%">代理商户号：</th>
	              <td width="10%"><input id="merId" name="merId" type="text" class="input1"/></td>
	              <th width="10%">二级商户号：</th>
	              <td width="10%"><input id="subMerId" name="subMerId" type="text" class="input1"/></td>
	              <th width="10%">代理商品号：</th>
	              <td width="10%"><input id="goodsId" name="goodsId" type="text" class="input1"/></td>
              </tr>
              <tr>
		         <th>服务类型：</th>
		         <td><input id="servType" name="servType" class="select1"/></td>
		         <th>状态：</th>
		         <td><input id="state" name="state" class="select1"/></td>
		         <th>代理商品名称：</th>
		         <td><input id="goodsName" name="goodsName" type="text" class="input1"/></td>
	          </tr>
        </table>
        </form> 
       </td>
         <td align="left"><input id="query" title="查询" name="submit" type="image" style="display:none" code="001" value="ee" src="${request.contextPath}/profile/default/images/Search_bnt.png" onclick="query();"/>
         </td>
       </tr>
     </table>
     </div>
   </div>  
   
   <!--列表区-->
    <table id="grid" align="left"></table>
    
 <div id="dialog">
    <iframe frameborder="0" style="width:100%;height:99%" src="about:blank"></iframe>
 </div>
 
</body>
</html>
