<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<link rel="stylesheet" href="${request.contextPath}/profile/default/css/common.css" type="text/css">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/zTreeStyle.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/validate/css/v1.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script src="$request.contextPath/js/ui/jquery.ztree.all-3.4.js"></script>
<script src="$request.contextPath/js/busi/chnlbank.js"></script>
<script>
jQuery(document).ready(function() {
	jQuery("#container").width(jQuery(window).width());
	
	var zNodes1="${zNodes}";		
	var zNodes=eval(zNodes1);
	tree=$.fn.zTree.init($("#tree"), setting, zNodes);
	setCheck();
	
	 //自定义校验规则
	   $.validator.addMethod("leng", function(value) {
		   var flag = 0;
		   var id = value.split(",");
		   var reg = new RegExp("^[0-9]{1,6}$");
	    	for(var i=0;i<id.length;i++){
	    		var m = reg.test(id[i]);
	    		if(!m){
	    			flag = 1;
	    	    	break;
	    		}
	    	}
	    	if(flag == 0){
	    		chnlIdFlag = true;
	    		return true;
	    	}else{
	    		chnlIdFlag = false;
	    		return false;
	    	}
	   }, "渠道编号格式错误");
	 
	 	 jQuery("#dataform").validate({
	 		onkeyup: false,
	 		rules : {
	             "channelId" : {
	             	required : true,
	             	leng:true
	             },
                 "state" : {
                	 required : true
                 }
	         },
	         messages : {
	             "channelId"  : {
	                 required : "请选择渠道编号"
	             },
	             "state" : {
                	 required : "请选择操作类型"
                 }
	         },
             errorPlacement : function(error, element) { 
                 if(error.html()){
                     $(element).parents().map(function(){
                         if(this.tagName.toLowerCase()=='td'){
                             var attentionElement = $(this).next().children().eq(0);
                             attentionElement.css('display','block');
     	                    attentionElement.next().html(error);
     	                    attentionElement.next().css('display','block');
                         }
                     });
                 }
    	        },
    	        showErrors: function(errorMap, errorList) {
                 if(errorList && errorList.length > 0){
                     $.each(errorList,function(index,obj){
                         var msg = this.message;
                         $(obj.element).parents().map(function(){
    	                        if(this.tagName.toLowerCase()=='td'){
    	                            var attentionElement = $(this).next().children().eq(0);
    	                            attentionElement.show();
    	    	                    attentionElement.next().html(msg);
    	                        }
    	                    });
                     });
                 }else{
                     $(this.currentElements).parents().map(function(){
                         if(this.tagName.toLowerCase()=='td'){
                             $(this).next().children().eq(0).hide();
                             $(this).next().children().eq(1).hide();
                         }
                     });
                 }
	             this.defaultShowErrors();
         },
         submitHandler : function(){
				jQuery(this).submit();
             return false;
         }
     });
	 	 
 	//状态       
	  $('#state').omCombo({
        dataSource : [{"value":"2","text":"启用"},{"value":"4","text":"禁用"}],
        width:'90px',
        emptyText:'请选择 ' ,
        forceSelection : true
    });
 	
});

</script>
</head>
<body>
<div id="container">
<form id ="dataform" method="post" name="dataform">
     <table width="95%" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td><table cellpadding="0" cellspacing="0" class="infowrite">
	           <tr>
	             <th width="30%"><span>*</span>渠道编号：</th>
	             <td class="td">(请输入渠道编号，以半角逗号分隔)<br>
	             	<textarea id="channelId" name="channelId" rows="3" cols="25" onblur="getChnlName()"></textarea>
	             </td>
	             <td width="27%" class="td"><span class="errorImg"></span><span class="errorMsg"></span><span id="errorChnlId"></span></td>
	         </tr>
	        <tr>
	            <th><span>*</span>渠道名称：</th>
	            <td class="td1" colspan="2"><label id="channelName"></label></td>
	       </tr>
	       <tr>
		        <th><span>*</span>操作：</th>
			         <td class="td"><input id="state" name="state" class="select1"/></td>
			         <td class="td"><span class="errorImg"></span><span class="errorMsg"></span></td>
		        </tr>
	       <tr>
	       <tr>
	             <th><span>*</span>上线省份：</th>
	             <td class="td" colspan="2">
	             	<input id="bankId" name="bankId" type="hidden"/>
			         <div style="width:100%;height:250px;text-align:left;overflow:auto;">
					      <ul id="tree" class="ztree"></ul>
				       </div>
				       <td><span class="errorImg"></span><div id="error" style="color:red;"><span class="errorMsg"></span></div></td>
	             </td>
            </tr>
	     </table>
      </td>
     </tr>
     <tr><td align="center">
	     <div class="pop_btn_sh">
	     <input type="button" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="确定" onclick="batchUpdate()"/>
	     <input type="button" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="取消" onclick="closeDialog()"/>
	     </div>
     </td></tr>
     </table>
  </form>
 </div>
</body>
</html>