<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!--meta http-equiv="Content-Type" content="text/html;charset=UTF-8"-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
$!{request}
	$!{request.request.session}
<br>

dfsd
$rc
sdsdsds
	$request.getSession()
	$request.session
	$request  ======


	测试
	$!key1
	
	  #foreach ( $foo in [1..5] ) 
    	$foo 
  	  #end 
  	  
  	  	#set($foo1="gibbous")  
		$foo1

	

    <table id="grid"></table>
    
    <div id="dialog">
    	<iframe frameborder="0" style="width:495px;height:99%" src="about:blank"></iframe>
	</div>
</body>
</html>