<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/profile/default/css/common.css" type="text/css">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script src="$request.contextPath/js/busi/chnlaudit.js"></script>
<script>
jQuery(document).ready(function() {
	var optStr="${opts}";
	var opts=optStr.split(',');
	jQuery('[code]').each(function () {
		var code=$(this).attr("code");
		for(var i=0;i<opts.length;i++){
			if(code==opts[i]){
				$(this).css('display','inline');						
			}
		};
	});
});
//渠道审核通过
function goPass1(id){
	var resultDesc = document.getElementById("resultDesc").value;
	if(byteCount(resultDesc)>64){
		alert("审核意见最大长度为64个字符！")
		return false;
	}
	var flag = confirm("确认审核通过此信息？");
	if (flag){
		$.ajax({
				url : '$request.contextPath/chnlaudit/chnlAuditPass.do',
				type : 'POST',
				dataType: 'text',
				data : {
						'id' : id,
						'resultDesc' : resultDesc
				},
				success : function(data){
					closeDialog();
					window.parent.shuaxin();
					window.parent.showSimpleTip(data);
				}
		});
	}
}

</script>
</head>
<body>
<!--渠道修改审核详情页面-->
<form id ="dataform-mod" method="post" name="dataform-mod">
   <div class="pop_list_sh" style="height:280px">
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td width="48%" valign="middle" class="td2">修改前</td>
         <td width="10"></td>
         <td width="50%" class="td3">修改后</td>
       </tr>
       <tr>
         <td height="10"></td>
         <td rowspan="2"></td>
         <td></td>
       </tr>
       <tr>
         <td><table cellpadding="0" cellspacing="0" class="infowrite">
           <tr>
             <th>渠道编号：</th>
             <td width="60%" class="td"><label>${oldChnl.channelId}</label></td>
            </tr>
           <tr>
             <th>渠道名称：</th>
             <td class="td1">$!{oldChnl.channelName}</td>
            </tr>
            <tr>
             <th>运营负责人：</th>
             <td class="td">$!{oldChnl.service_user}</td>
            </tr>
           <tr>
             <th>联系人：</th>
             <td class="td">$!{oldChnl.contact}</td>
            </tr>
           <tr>
             <th>联系电话：</th>
             <td class="td1">$!{oldChnl.linkTel}</td>
            </tr>
           <tr>
             <th>电子邮件：</th>
             <td class="td">$!{oldChnl.email}</td>
            </tr>
         </table></td>
         <td><table cellpadding="0" cellspacing="0" class="infowrite">
           <tr>
             <th>渠道编号：</th>
             <td width="60%" class="td">${newChnl.channelId}</td>
           </tr>
           <tr>
             <th>渠道名称：</th>
             <td class="td1">
             	#if($!{newChnl.channelName} != $!{oldChnl.channelName})
             		<span>$!{newChnl.channelName}</span>
             	#else
             		$!{newChnl.channelName}
             	#end
             </td>
           </tr>
           <tr>
             <th>运营负责人：</th>
             <td class="td">
             	#if(${newChnl.service_user} != ${oldChnl.service_user})
             		<span>$!{newChnl.service_user}</span>
             	#else
             		$!{newChnl.service_user}
             	#end
             </td>
           </tr>
           <tr>
             <th>联系人：</th>
             <td class="td1">
             	#if(${newChnl.contact} != ${oldChnl.contact})
             		<span>$!{newChnl.contact}</span>
             	#else
             		$!{newChnl.contact}
             	#end
             </td>
           </tr>
           <tr>
             <th>联系电话：</th>
             <td class="td">
             	#if(${newChnl.linkTel} != ${oldChnl.linkTel})
             		<span>$!{newChnl.linkTel}</span>
             	#else
             		$!{newChnl.linkTel}
             	#end
             </td>
           </tr>
           <tr>
             <th>电子邮件：</th>
             <td class="td1">
             	#if(${newChnl.email} != ${oldChnl.email})
             		<span>$!{newChnl.email}</span>
             	#else
             		$!{newChnl.email}
             	#end
             </td>
           </tr>
         </table></td>
       </tr>
       <tr>
         <td height="63" colspan="3" align="left" valign="bottom"><textarea id="resultDesc" name="resultDesc" rows="3" style="{width:100%;}"></textarea></td>
       </tr>
     </table>
     <div class="pop_btn_sh">
	   <input type="button" class="popbtn" code="011" style="display:none" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="通过" onclick="goPass1($auditId)"/>
	   <input type="button" class="popbtn" code="012" style="display:none" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="不通过" onclick="goNotPass($auditId)"/>
	   <input type="button" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="关闭" onclick="closeDialog(0)"/>
	 </div>
   </div>
 </form>
 </body>
 </html>