<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css">

<link rel="stylesheet" href="$request.contextPath/js/ui/themes/default/om-all.css" type="text/css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagetip.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/busi/para.js"></script>
<style type="text/css" >
	.input_text {
	    border: 1px solid #6D869E;
	    height: 17px;
	    vertical-align: middle;
	    width: 50%;
	}
	.errorMsg {
	    background:   url("$request.contextPath/profile/validate/images/alert.png) center no-repeat white;
		background-position: 5px 50%;
		background-color: #FCEFE3;
		text-align: left;
		padding: 2px 2px 2px 25px;
		border: 1px solid red;
		display: none;
		width: 100px;
		margin-top: -18px;
		margin-left: 18px;
		position: absolute;
		border-radius: 4px;
		display ：block ;
	}
	.errorImg{
	    background: url("$request.contextPath/profile/validate/images/invalid.png") no-repeat scroll 0 0 transparent;
	    height: 16px;
	    width: 16px;
	    cursor: pointer;
	    vertical-align: inherit;
	}
	   
</style>
<script>
   //关闭窗口方法
   function  closeDialog(){
       window.parent.fillBackAndCloseDialog("#dialog");
   }
   
   $.validator.addMethod("Check",
        function() {
            var servType = $('#couponType').val();
            if (servType == -1) {
            	return false;
            }
            return true;
        }, '');

    $.validator.addMethod("CheckValueLen",
        function() {
	        var paraValue = $("#paraValue").val();
	       	if(getByteLen(paraValue)>128){
		   		 return false;
	       	}
	       	return true;
        }, '');	
        
  	 	jQuery(document).ready(function() {
	 		jQuery("#dataform").validate({
	 			onkeyup: false,
                rules: {
                    "paraValue": {
                        required: true,
                        CheckValueLen : true
                    },
                    "paraDesc": {
                        maxlength : 128
                    }
                },
                messages: {
                    "paraValue": {
                        required: "请输入参数值",
                        CheckValueLen : "输入最大长度为中文64位，英文128位"
                    },
                    "paraDesc": {
                        maxlength : "输入最大长度为128位"
                    }
                },
            
                errorPlacement: function(error, element) {
                    if (error.html()) {
                        $(element).parents().map(function() {
                            if (this.tagName.toLowerCase() == 'td') {
                                var attentionElement = $(this).next().children().eq(0);
                                attentionElement.css('display', 'block');
                                attentionElement.next().html(error);
                            }
                        });
                    }
                },
                showErrors: function(errorMap, errorList) {
                    if (errorList && errorList.length > 0) {
                        $.each(errorList,
                        function(index, obj) {
                            var msg = this.message;
                            $(obj.element).parents().map(function() {
                                if (this.tagName.toLowerCase() == 'td') {
                                    var attentionElement = $(this).next().children().eq(0);
                                    attentionElement.show();
                                    attentionElement.next().html(msg);
                                }
                            });
                        });
                    } else {
                        $(this.currentElements).parents().map(function() {
                            if (this.tagName.toLowerCase() == 'td') {
                                $(this).next().children().eq(0).hide();
                            }
                        });
                    }
                    this.defaultShowErrors();
                },
                submitHandler: function() {
                    jQuery(this).submit();
                    return false;
                }
            });
     	  $("#paraValue").val($.trim('$para.paraValue'));
		$(".errorImg").bind('mouseover', function() {
            $(this).next().css('display', 'block');
        }).bind('mouseout', function() {
            $(this).next().css('display', 'none');
        });
		
		jQuery('#dataform').submit(function() {
            if (!jQuery("#dataform").valid()) {
                return false;
            }
			// 设置按钮不可用，防止重复提交
			$("#btn_modify").attr("disabled", "disabled");
            jQuery(this).omAjaxSubmit({
                success: function(res) {
					window.parent.showSimpleTip(res);
					if( res == '1' ){
						closeDialog();
						window.parent.shuaxin();
					}else{
						// 设置按钮可用
						$("#btn_modify").removeAttr("disabled");
					}
                }
            });
            return false;
        });});
	
  	 	function showResponse(responseText, statusText) {
            var result = eval("(" + responseText + ")");
            if (result.code == '0') {
                window.parent.fillBackAndCloseDialog(result.msg);
            }
        }
        
</script>
</head>
<body>
	<div>
	  <form id ="dataform" method="post" name="dataform" id="dataform" action="${request.contextPath}/para/update.do">
      <table class="infowrite" cellspacing="0" cellpadding="0">
       <tr>
         <th width="15%"><span>*</span>类    型：</th>
         <td width="60%" class="td">
         	$para.paraType
			 <input id="paraType" type="hidden" name="paraType" value="$para.paraType"/>
         </td>
         <td  class="td"> <span class="errorImg"></span><span class="errorMsg"></span></td>
       </tr>
       <tr>
         <th ><span>*</span>编    码：</th>
         <td  class="td1">
         $para.paraCode
         <input id="paraCode" name="paraCode" type="hidden" value="$para.paraCode"/>
         </td>
         <td class="td1" ><span class="errorImg"></span><span class="errorMsg"></span></td> 
       </tr>
       <tr>
         <th ><span>*</span>值：</th>
         <td class="td"><input id="paraValue" name="paraValue" type="text" class="input2"/></td>
         <td class="td"><span class="errorImg"></span><span class="errorMsg"></span></td>
       </tr>
       <tr>
         <th>说    明：</th>
         <td class="td1" ><textarea id="paraDesc" name="paraDesc" cols="40" rows="5" style="color:black;font-family:\5fae\8f6f\96c5\9ed1;padding-left:0px;width:90%">$para.paraDesc</textarea></td>
         <td class="td1"><span class="errorImg"></span><span class="errorMsg"></td>
       </tr>
     </table>
	 <div class="pop_btn">
       <input name="Submit" type="submit" class="popbtn"  value="修改" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" id="btn_modify" />
       <input name="close" type="button" class="popbtn"  value="取消" onclick="closeDialog();" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
	 </div>
     </form>
   </div>
</body>
</html>
 