<html>
<head> 
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script>
//关闭窗口方法
function  closeDialog(){
	window.parent.fillBackAndCloseDialog("#dialog"); 
} 
</script>  
</head>
<body>
<div>
	<table width="100%" cellpadding="0" cellspacing="0" class="infowrite">
		<tr>
			<th width="30%">商户接口：</th>
			<td class="td" >$!{mer.merId}</td>
		</tr>
		<tr>
			<th>接口标识：</th>
			<td class="td1" >$!{mer.inFunCode}</td>
		</tr>
		<tr>
			<th >接口版本号：</th>
			<td class="td" >$!{mer.inVersion}</td>
		</tr>
		<tr>
			<th >协议：</th>
			<td class="td1">
				#if($!{mer.protocol}==0)HTTP #elseif($!{mer.protocol}==1)SOCKET #elseif($!{mer.protocol}==2)SOAP#end
			</td>
		</tr>
		<tr>
			<th >地址：</th>
			<td class="td">$!{mer.address}</td>
		</tr>
		<tr>
			<th >地址描述：</th>
			<td class="td1">$!{mer.addressDesc}</td>
		</tr>
	</table>
</div>
<div class="pop_btn">
<input name="close" type="button" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" value="关闭" onclick="closeDialog();"/>
</div>
</body>
</html>
