<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head> 
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css">
<link rel="stylesheet" href="$request.contextPath/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/validate/css/v1.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/busi/merInf.js"></script>
<script src="$request.contextPath/js/busi/common.js"></script>
  <script>
  	 jQuery(document).ready(function() {
  		jQuery("#container").width(jQuery(window).width());
  	     
  	 	  jQuery("#dataform").validate({
                rules : {
	  	 			"protocol": {
		              	required : true
		          },
		          "address": {
		              required : true,
		              maxByte : 128
		          },
		          "addressDesc": {
		              required : true,
		              maxByte : 64
		          }
                },
                messages : {
                	"protocol"  : {
	                    required : "请选择协议类型"
	                },
	                "address": {
	                    required : "请输入地址"
	                },
	                "addressDesc": {
	                    required : "请输入地址描述"
	                }
                },
              errorPlacement : function(error, element) { 
                    if(error.html()){
	                    $(element).parents().map(function(){
	                        if(this.tagName.toLowerCase()=='td'){
	                            var attentionElement = $(this).next().children().eq(0);
	                            attentionElement.css('display','block');
	    	                    attentionElement.next().html(error);
	    	                    attentionElement.next().css('display','block');
	                        }
	                    });
                    }
    	        },
    	        showErrors: function(errorMap, errorList) {
                    if(errorList && errorList.length > 0){
                        $.each(errorList,function(index,obj){
                            var msg = this.message;
                            $(obj.element).parents().map(function(){
    	                        if(this.tagName.toLowerCase()=='td'){
    	                            var attentionElement = $(this).next().children().eq(0);
    	                            attentionElement.show();
    	    	                    attentionElement.next().html(msg);
    	                        }
    	                    });
 	                   });
                    }else{
                        $(this.currentElements).parents().map(function(){
	                        if(this.tagName.toLowerCase()=='td'){
	                            $(this).next().children().eq(0).hide();
	                            $(this).next().children().eq(1).hide();
	                        }
	                    });
                    }
                    this.defaultShowErrors();
                }, 
                submitHandler : function(){
 					jQuery(this).submit();
                    return false;
                }
            });
  	 	  
  	 	 jQuery('#dataform').submit(function() {
  	 	  	if (!jQuery("#dataform").valid()) 
                 return false;
  	 	  	
  	 	  	var protocol=$("input[name='protocol']").val();
	 	  	var address=$("input[name='address']").val();
	 	  	var addressDesc=$('input[name="addressDesc"]').val();
	 	  	if("$!{mer.protocol}" == protocol && "$!{mer.address}" == address
	  	 	  		&& "$!{mer.addressDesc}" == addressDesc){
	   			window.parent.$.omMessageBox.alert({
	                content:'没有修改，不需提交'
	            });
	   			return false;
	   		}
	 	  	
            jQuery(this).omAjaxSubmit({success:function(res){
	            	window.parent.showSimpleTip(res,true);
	           		if(res =='1') {
	    			   window.parent.shuaxin();
	    		    }
               }
             });
             return false; 
          });
  	 	 
  	 	 //协议类型       
  	 	 $('#protocol').omCombo({
  	 		 dataSource : [{"value":"0","text":"HTTP"},{"value":"1","text":"SOCKET"},{"value":"2","text":"SOAP"}],
  	 		 width:'75px',
  	 		 emptyText:'请选择..' ,
  	 		 forceSelection : true
  	 	 });
  	 	 $('#protocol').omCombo('value','$!{mer.protocol}');
  	 	 
        });
  </script>  
  </head>
  <body>
<div id="container">
<form id ="dataform" method="post" name="dataform" action="${request.contextPath}/merinter/update.do">
<input type="hidden" name="merId" value="$!{mer.merId}">
<input type="hidden" name="inFunCode" value="$!{mer.inFunCode}">
<input type="hidden" name="inVersion" value="$!{mer.inVersion}">
<table width="100%" >
<tr><td>
	<table width="100%" cellpadding="0" cellspacing="0" class="infowrite">
		<tr>
			<th width="30%"><span>*</span>商户：</th>
			<td width="30%" class="td">[$!{mer.merId}]$!{merName}</td>
			<td width="40%" class="td"></td>
		</tr>
		<tr>
			<th><span>*</span>接口标识：</th>
			<td class="td1">$!{mer.inFunCode}</td>
			<td class="td1"></td>
		</tr>
		<tr>
			<th><span>*</span>接口版本号：</th>
			<td class="td">$!{mer.inVersion}</td>
			<td class="td"></td>
		</tr>
		<tr>
			<th><span>*</span>协议：</th>
			<td class="td1"><input id="protocol" name="protocol" class="select1"/></td>
			<td class="td1"><span class="errorImg"></span><span class="errorMsg"></span></td>
		</tr>
		<tr>
			<th><span>*</span>地址：</th>
			<td class="td"><input name="address" type="text" value="$!{mer.address}" maxlength="129" class="input2"/></td>
			<td class="td"><span class="errorImg"></span><span class="errorMsg"></span></td>
		</tr>
		<tr>
			<th><span>*</span>地址描述：</th>
			<td class="td1"><input name="addressDesc" type="text" value="$!{mer.addressDesc}" maxlength="65" class="input2"/></td>
			<td class="td1"><span class="errorImg"></span><span class="errorMsg"></span></td>
		</tr>
	</table>
</td></tr><tr><td>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td height="15"></td>
		</tr>
		<tr>
			<td align="center">
				<input name="submit" type="submit" value="修改" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
				<input id="add_button2" name="add_button2" type="reset"  value="取消" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" onclick="closeDialog();"/>
			</td>
		</tr>
	</table>
</td></tr>
<table>
</form>
</div>
</body>
</html>