/com/
/config/
/ehcache.xml
/jdbc.properties
/logback.xml
/messages.properties
/org/
/sqlmap/
/sqlmap-config-offline.xml
/sqlmap-config.xml
/sysconf.properties
/sysconf_forprod.properties
/sysconf_fortest.properties
/templet/
/urlacl/
