<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/busi/mergrade.js"></script>
<style>
	span.pPageSize {
		display : none;
	}
</style>

<script type="text/javascript">
 	  var  url="$request.contextPath/xerevoke/bjhbqueryDownload.do";
        jQuery(document).ready(function() {

          jQuery('#grid').omGrid({
                dataSource : url,
                width:'100%',
                height : 455,
                limit : 5000,
                autoFit : true,
                colModel : [ {header : '文件名称', name : 'DOCNAME', width : 80, align : 'left', renderer : function(value , rowData , rowIndex){
     							return "<a title='"+value+"'>"+value+"</a>";
     						 }},
     				         {header : '操作', name:'OPER',width : 80, align : 'left',renderer:function(value , rowData , rowIndex){
				     				var fileName = rowData.DOCNAME;
	                     	    return " <input name='下载' title='下载' type='image' src='${request.contextPath}/profile/default/images/down.png' onclick='bjhbdownloadDoc(&quot;"+fileName+"&quot;)'/> ";	
                             }}
                            ]
            });
          
       });
        
        function bjhbqueryDownload(){
        	$('#grid').omGrid("setData", url);
        }
        
        function bjhbdownloadDoc(fileName){
        	window.location.href="bjhbdownloadDoc.do?fileName="+fileName;
        }

</script>
</head>
<body>
<!--背景-->
<div class="list_btntool" style="height:1px;"></div>
<!--列表查询区-->
<div id="search_div">
  <div class="list_search" align="left" style="height:30px;">
      <table align="left" width="300px" border="0">
        <tr>
		   <td align="left"><input id="query" title="查询" name="query" type="image" code="001" style="display:inline" src="${request.contextPath}/profile/default/images/Search_bnt.png" onclick="bjhbqueryDownload();"/>
           </td>
	    </tr>
     </table>  
  </div>
</div>			      
<!--列表区-->
<div>
    <table id="grid" align="left"></table>
</div>
</body>
</html>