<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/validate/css/v1.css">
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<script src="$request.contextPath/js/busi/common.js"></script>
<script>
  jQuery(document).ready(function() {
    
	  $.validator.addMethod("check", function(value) {
		  var res = true;
		  if(value == ""){
			  return false;
		  }
		  $.ajax({
				url : 'query.do',
				type : 'POST',
				async:false, //同步提交
				dataType: 'json',
				data : {
					'mobileId' : value
				},
				success : function(res){
					if(res.result == "no"){
						res = false;
					}else{
						$("#monthPayed").text(res.monthpayed);
						$("#yuan").text(" 元");
					}
				}
		  });
		  if(res){
	    	  return true;
	      }else {
	    	  return false;
	      }
	  }, "无效的手机号");
	  
	  $.validator.addMethod("money", function(value) {
		   var flag = 0;
		   var reg = new RegExp("^[0-9]+(.[0-9]{1,2})?$");
		   return reg.test(value);
	   }, "最多为两位小数");
	  
	 jQuery("#dataform").validate({
		 	onkeyup: false,
         rules : {
             "mobileId" : {
             	 required : true,
             	 digits : true,
             	 rangelength : [11,11],
             	 check : true
             },
             "provCode": {
	              required : true,
	              digits : true,
	              rangelength : [3,3]
	          },
	          "amt": {
	              required : true,
	              number : true,
	              range : [0.01,99999.99],
	              money : true
	          },
	          "merId": {
	        	  required : true
	          },
	          "goodsId": {
	        	  required : true
	          },
	          "bankId": {
	        	  required : true
	          }
         },
         messages : {
             "mobileId"  : {
                 required : "请输入手机号",
                 digits  : "手机号只能为11位数字",
            	 rangelength : "手机号只能为11位数字"
             },
             "provCode": {
	              required : "请输入省代码",
	              digits  : "省代码只能为3位数字",
	              rangelength : "省代码只能为3位数字"
	          },
	          "amt"  : {
	              required : "请输入回滚金额",
	              number : "金额只能为数字",
	              range : "取值范围为0.01-99999"
	          },
	          "merId": {
	        	  required : "请选择商户号"
	          },
	          "goodsId": {
	        	  required : "请选择商品号"
	          },
	          "bankId": {
	        	  required : "请选择银行"
	          }
         },
         errorPlacement : function(error, element) {
             if(error.html()){
                 $(element).parents().map(function(){
                     if(this.tagName.toLowerCase()=='td'){
                         var attentionElement = $(this).next().children().eq(0);
                         attentionElement.css('display','block');
 	                    attentionElement.next().html(error);
 	                    attentionElement.next().css('display','block');
                     }
                 });
             }
	        },
	        showErrors: function(errorMap, errorList) {
             if(errorList && errorList.length > 0){
                 $.each(errorList,function(index,obj){
                     var msg = this.message;
                     $(obj.element).parents().map(function(){
	                        if(this.tagName.toLowerCase()=='td'){
	                            var attentionElement = $(this).next().children().eq(0);
	                            attentionElement.show();
	    	                    attentionElement.next().html(msg);
	                        }
	                    });
                 });
             }else{
                 $(this.currentElements).parents().map(function(){
                     if(this.tagName.toLowerCase()=='td'){
                         $(this).next().children().eq(0).hide();
                         $(this).next().children().eq(1).hide();
                     }
                 });
             }
             this.defaultShowErrors();
         },          
         submitHandler : function(){
				jQuery(this).submit();
             return false;
         }
     });
	 
	//初始化银行列表
	   $('#bankId').omCombo({
              dataSource : '$request.contextPath/option/xebanklist.do',
              width:'150px',
              emptyText:'请选择..',
              listMaxHeight:150,
              forceSelection : true
          });
	 //初始化商户列表
  	   $('#merId').omCombo({
               dataSource : '$request.contextPath/option/merlist.do',
                width:'150px',
                emptyText:'请选择..',
                listMaxHeight:150,
                onValueChange:function(target,newValue,oldValue,event){ 
  		   			getGoodsId();
	 			},
	 			forceSelection : true
            });
          $('#goodsId').omCombo({
        	  dataSource : [{"value":"","text":""}],
        	  width:'150px',
        	  listMaxHeight:150,
        	  forceSelection : true
          });
          
          jQuery('#dataform').submit(function() {
        	  var monthPayed=jQuery('#monthPayed').text();
        	  if(monthPayed == ""){
        		  alert("当月累计额不存在，无需回滚");
        		  return false;
        	  }
        	  if(!jQuery("#dataform").valid()) { 
        		  return false;
        	  }
        	  var amt=jQuery('#amt').val();
        	  if(eval(amt)>eval(monthPayed)){
        		  alert("回滚金额不能大于当月累计额");
        		  return false;
        	  }
        	  jQuery(this).omAjaxSubmit({
        		  dataType: 'text',
        		  success:function(res){
        		  	  showSimpleTip(res);
   				  }
             });
             return false; 
         });
          
    });       

//异步获取商户号下的商品号码
  function getGoodsId(){
 	 $('#goodsId').omCombo('setData', []);
	   var merId = jQuery('#merId').val();
		$.ajax({
				url : '$request.contextPath/goodsbank/getgoodsids.do',
				type : 'POST',
				dataType: 'text',
				data : {
						'merId' : merId
				},
				success : function(goodsIdList){	
				  $('#goodsId').omCombo('setData', eval(goodsIdList));	
				}
		});
}
  
function cleanLabel(){
	$("#monthPayed").text("");
	$("#yuan").text("");
}
  
</script>
</head>
<body>
<form id ="dataform" method="post" name="dataform" action="${request.contextPath}/payltdrollback/rollback.do">
<table width="600px" >
	<tr><td>
	  	<table width="100%" cellpadding="0" cellspacing="0" class="infowrite">
		    <tr>
		      <th width="25%"><span>*</span>手机号：</th>
		      <td class="td"><input id="mobileId" name="mobileId" type="text" size="12" maxlength="12" class="input2" onkeydown="cleanLabel()"/></td>
		      <td width="35%" class="td"><span class="errorImg"></span><span class="errorMsg"></span></td>
		    </tr>
		    <tr>
			    <th>回滚前当月累计额：</th>
			    <td class="td1" colspan="2"><label id="monthPayed" name="monthPayed"></label><label id="yuan" name="yuan"></label></td>
		    </tr>
		    <tr><td class="td" height="40px" colspan="3">&nbsp;</td></tr>
		    <tr>
		      <th><span>*</span>省代码：</th>
		      <td class="td1"><input id="provCode" name="provCode" type="text" size="4" maxlength="4" class="input2" /></td>
		      <td class="td1"><span class="errorImg"></span><span class="errorMsg"></span></td>
		    </tr>
		   <tr>
		      <th><span>*</span>银行：</th>
		      <td class="td"><input id="bankId" name="bankId" class="select1"/></td>
		      <td class="td"><span class="errorImg"></span><span class="errorMsg"></span></td>
		    </tr>
		   <tr>
		      <th><span>*</span>本次回滚金额：</th>
		      <td class="td1"><input id="amt" name="amt" type="text" size="9" maxlength="9" class="input1" /> 元</td>
		      <td class="td1"><span class="errorImg"></span><span class="errorMsg"></span></td>
	      </tr>
	      <tr>
		      <th><span>*</span>商户号：</th>
		      <td class="td"><input id="merId" name="merId" class="select1"/></td>
		      <td class="td"><span class="errorImg"></span><span class="errorMsg"></span></td>
	      </tr>
	      <tr>
		      <th><span>*</span>商品号：</th>
		      <td class="td1"><input id="goodsId" name="goodsId" class="select1"/></td>
		      <td class="td1"><span class="errorImg"></span><span class="errorMsg"></span></td>
	      </tr>
	  </table>
  </td></tr>
  <tr><td>
	  <table width="100%" cellpadding="0" cellspacing="0">
	       <tr>
	          <td align="center"><input type="submit" value="回滚" class="popbtn" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'"/>
	          <input type="reset" class="popbtn" value="清空" onmouseover="this.className='popbtnhover'" onmouseout="this.className='popbtn'" onclick="cleanLabel()"/>
	        </tr>
	   </table>
   </td></tr>
<table>
</form>
</body>
</html>