<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet"
			href="${request.contextPath}/js/ui/themes/default/om-all.css"
			type="text/css">
		<link rel="stylesheet" type="text/css"
			href="${request.contextPath}/profile/default/css/common.css">
		<script src="$request.contextPath/js/ui/jquery.min.js"></script>
		<script src="$request.contextPath/js/ui/js/om-core.js"></script>
		<script type="text/javascript"
			src="$request.contextPath/js/ui/js/om-grid.js"></script>
		<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
		<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
		<script src="$request.contextPath/js/ui/js/om-position.js"></script>
		<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
		<script src="$request.contextPath/js/ui/js/om-dialog.js"></script>
		<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
		<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
		<script src="$request.contextPath/js/ui/js/om-button.js"></script>
		<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
		<script src="$request.contextPath/js/ui/js/om-calendar.js"></script>
		<script type="text/javascript"
			src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
		<script src="$request.contextPath/js/busi/couponorder.js"></script>
		
		<script type="text/javascript">

 	  var  url="$request.contextPath/couponorder/gcquery.do?queryKey=couponorder.gcquery";
        jQuery(document).ready(function() {
        	jQuery( "#dialog").omDialog({
	            autoOpen: false
	        });
        	jQuery("#search_div").width(jQuery(window).width());
          	jQuery('#grid').omGrid({
                dataSource : "$request.contextPath/couponorder/gcquery.do?queryKey=couponorder.gcquery",
                width:'100%',
                height : 455,
                limit : 15,
				errorMsg : '取数据出错',
				loadingMsg : '正在加载数据, 请稍后...',
				emptyMsg : '没有数据',
                autoFit : true,
                colModel : [ 
					{
					    header: '平台订单号',
					    name: 'ORDERID',
					    width: 200,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					        return "<a title='" + rowData.ORDERID + "'>" + rowData.ORDERID + "</a>";
					    }
					},
					{
					    header: '商户订单号',
					    name: 'MERORDERID',
					    width: 120,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					        return "<a title='" + rowData.MERORDERID + "'>" + rowData.MERORDERID + "</a>";
					    }
					},
					{
					    header: '手机号',
					    name: 'MOBILEID',
					    width: 100,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					        return "<a title='" + rowData.MOBILEID + "'>" + rowData.MOBILEID + "</a>";
					    }
					},
					{
					    header: '渠道',
					    name: 'CHANNEL',
					    width: 120,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					        return "<a title='" + rowData.CHANNELID + "'>" + rowData.CHANNELNAME + "（" + rowData.CHANNELID + "）</a>";
					    }
					},
					{
					    header: '商户',
					    name: 'MER',
					    width: 100,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
							return "<a title='" + rowData.MERID + "'>" + rowData.MERNAME + "（" + rowData.MERID + "）</a>";
					    }
					},
					{
					    header: '商品',
					    name: 'GOODS',
					    width: 120,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
							return "<a title='" + rowData.GOODSID + "'>" + rowData.GOODSNAME + "（" + rowData.GOODSID + "）</a>";
					    }
					},
					{
					    header: '兑换劵名称',
					    name: 'COUPONNAME',
					    width: 100,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					        return "<a title='" + rowData.COUPONNAME + "'>" + rowData.COUPONNAME + "</a>";
					    }
					},
					{
					    header: '订单状态',
					    name: 'STATE',
					    width: 80,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					    	var stateName = '未知状态';
					    	if( rowData.STATE = '2' ){
					    		stateName = '取码成功';
							}else if( rowData.STATE = '4' ){
								stateName = '取码失败';
							}
					    	return "<a title='" + stateName + "'>" + stateName + "</a>";
					    }
					},
					{
					    header: '订单时间',
					    name: 'INTIME',
					    width: 100,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					        return "<a title='" + rowData.INTIME + "'>" + rowData.INTIME + "</a>";
					    }
					},
					{
					    header: '操作',
					    name: 'ORDERID',
					    width: 60,
					    align: 'center',
					    renderer: function(value, rowData, rowIndex) {
					        return "<img title='详情' src='${request.contextPath}/profile/default/images/tool_details.png' onclick='showGcOrderDetail(\"" + rowData.ORDERID + "\"," + rowData.STATE + ")' />";
					    }
					}
                ]
            });
            
			 $('#channelId').omCombo({
                dataSource: '$request.contextPath/option/channelinflist.do',
	            emptyText: '全部',
	            width: '150px',
	            forceSelection: true,
	            filterStrategy : 'anywhere',
	            onSuccess:function(data, textStatus, event){
			      	  var tmp = $.parseJSON('{"value":"","text":"全部"}');
			      	  data.unshift(tmp);
		   		}
            });

			$('#merId').omCombo({
                dataSource: '$request.contextPath/option/couponmerinflist.do',
	            emptyText: '全部',
	            width: '150px',
				onValueChange: function(target, newValue, oldValue, event) {
    				var merId = $('#merId').omCombo('value');
                    // 连级更新商品列表
    				$('#goodsId').omCombo({
                        dataSource : '$request.contextPath/option/getcoupongoodsinflist.do?merId=' + merId,
                        emptyText: '全部',
        	            width: '150px',
        	            forceSelection: true,
        	            onSuccess:function(data, textStatus, event){
        			      	  var tmp = $.parseJSON('{"value":"","text":"全部"}');
        			      	  data.unshift(tmp);
        		   		}
                    });
                },
	            forceSelection: true,
	            onSuccess:function(data, textStatus, event){
			      	  var tmp = $.parseJSON('{"value":"","text":"全部"}');
			      	  data.unshift(tmp);
		   		}
            });
            
			$('#goodsId').omCombo({
                dataSource: [],
	            emptyText: '全部',
	            width: '150px',
	            forceSelection: true,
	            onSuccess:function(data, textStatus, event){
			      	  var tmp = $.parseJSON('{"value":"","text":"全部"}');
			      	  data.unshift(tmp);
		   		}
            });
            
            //初始化订单状态列表
	        $('#state').omCombo({
	            dataSource: [{text:'全部',value:''},{text:'取码成功',value:'2'},{text:'取码失败',value:'4'}],
	            emptyText: '全部',
	            width: '150px',
	            forceSelection: true
	        });
	        
       });
</script>

	</head>
	<body>
		<!--列表查询区-->
		<div id="search_div">
			<div class="list_search" style="height: 80px;">
				<table width="100%" border="0">
					<tr>
						<td>
							<form id="form" action="" method="post">
								<table width="100%" border="0">
									<tr>
										<td colspan="6">
											&nbsp;
										</td>
									</tr>
									<tr height="30">
										<th width="8%">
											平台订单号：
										</th>
										<td>
											<input id="orderId" name="orderId" class="input2" type="text" />
										</td>
										<th width="5%">
											手机号：
										</th>
										<td>
											<input id="mobileId" name="mobileId" class="input2" />
										</td>
										<th width="5%">
											订单状态：
										</th>
										<td>
											<input id="state" name="state" />
										</td>
									</tr>
									<tr height="30">
										<th>
											渠道：
										</th>
										<td>
											<input id="channelId" name="channelId" />
										</td>
										<th>
											商户：
										</th>
										<td>
											<input id="merId" name="merId" />
										</td>
										<th>
											商品：
										</th>
										<td>
											<input id="goodsId" name="goodsId" />
										</td>
									</tr>
								</table>
							</form>
						</td>
						<td>
							<input id="query" title="查询" name="query" type="image" code="001"
								src="${request.contextPath}/profile/default/images/Search_bnt.png"
								onclick="doQuery('gcquery.do?queryKey=couponorder.gcquery');" />
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!--列表区-->
		<div>
			<table id="grid" align="left"></table>
			<div>
				<div id="dialog">
					<iframe frameborder="0" style="width: 100%; height: 99%"
						src="about:blank"></iframe>
				</div>
	</body>
</html>
