<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	 <title>订单操作日志查询</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="${request.contextPath}/js/ui/themes/default/om-all.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/profile/default/css/common.css" >
<script type="text/javascript" src="$request.contextPath/js/ui/js/My97DatePicker/WdatePicker.js"></script>
<script src="$request.contextPath/js/ui/jquery.min.js"></script>
<script src="$request.contextPath/js/ui/js/om-core.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-grid.js"></script>
<script src="$request.contextPath/js/ui/js/om-mouse.js"></script>
<script src="$request.contextPath/js/ui/js/om-draggable.js"></script>
<script src="$request.contextPath/js/ui/js/om-position.js"></script>
<script src="$request.contextPath/js/ui/js/om-resizable.js"></script>
<script src="$request.contextPath/js/ui/js/om-validate.js"></script>
<script src="$request.contextPath/js/ui/js/om-messagebox.js"></script>
<script src="$request.contextPath/js/ui/js/om-button.js"></script>
<script src="$request.contextPath/js/ui/js/om-combo.js"></script>
<script type="text/javascript" src="$request.contextPath/js/ui/js/om-ajaxsubmit.js"></script>
<style>
	.input_text {
	    border: 1px solid #6D869E;
	    height: 17px;
	    vertical-align: middle;
	    width: 50%;
	}
	.errorMsg {
	    background:  url("$request.contextPath/profile/validate/images/alert.png) center no-repeat white;
		background-position: 5px 50%;
		background-color: #FCEFE3;
		text-align: left;
		padding: 2px 2px 2px 25px;
		border: 1px solid red;
		display: none;
		width: 100px;
		margin-top: -18px;
		margin-left: 18px;
		position: absolute;
		border-radius: 4px;
	}
	.errorImg{
	    background: url("$request.contextPath/profile/validate/images/invalid.png") no-repeat scroll 0 0 transparent;
	    height: 16px;
	    width: 16px;
	    cursor: pointer;
	    vertical-align: inherit;
	}
	/*自定义图标，样式前加上om-messageTip，提高其优先级*/
    .om - messageTip.om - messageTip - image - aomsdk {
        background - image: url("$request.contextPath/profile/validate/images/invalid.png");
    }
</style>
<script type="text/javascript">
	//给控件绑定只能输入数字的验证
	function bindNumberCheck(domId){
		//只能输入数字
		$("#"+domId).keypress(function(event){
			if (event.keyCode < 48 || event.keyCode > 57) {
				return false;
			}
		})
		//防止利用一些特殊方法输入非数字，例如复制粘贴或者 用搜狗，中文状态下输入字符，shift能将字符输入到控件中。
		$("#"+domId).blur(function(event){
			var content = event.srcElement.value;
			if (isNaN(content)) {
				event.srcElement.value="";
			}				
		})
	}

	$(document).ready(function(){
		bindNumberCheck("phone");
		
		jQuery('#grid').omGrid({
            dataSource: "$request.contextPath/couponorder/querylog.do?queryKey=couponorder.querylog",
            width: '100%',
            height: 456,
            limit: 15,
            colModel: [{
                header: '订单编号',
                name: 'ORDERID',
                width: 100,
                align: 'center',
                renderer: function(value, rowData, rowIndex) {
						return "<a title='订单编号'>" + rowData.ORDERID + "</a>";
                }
            },
            {
                header: '兑换码',
                name: 'COUPONCODE',
                width: 60,
                align: 'left',
				renderer: function(value, rowData, rowIndex) {
						return "<a title='"+rowData.COUPONCODE+"'>" + rowData.COUPONCODE + "</a>";
                }
            },
            {
                header: '手机号',
                name: 'PHONE',
                width: 45,
                align: 'left',
				renderer: function(value, rowData, rowIndex) {
						return "<a title='"+rowData.PHONE+"'>" + rowData.PHONE + "</a>";
                }
            },
            {
                header: '操作内容',
                name: 'OPERDATA',
                width: 200,
                align: 'left',
                renderer: function(value, rowData, rowIndex) {
            	return "<a title='"+rowData.OPERDATA+"'>" + rowData.OPERDATA + "</a>";
                }
            },
            {
                header: '操作人',
                name: 'MODUSER',
                width: 40,
                align: 'center'
            },
            {
                header: '操作日期',
                name: 'INTIME',
                width: 80,
                align: 'center'
            }],
            autoFit: true
        });

	});

	function queryLog(){
		var orderId = jQuery('#orderId').val();
		var optdate = jQuery('#optdate').val();
		var moduser = jQuery("#moduser").val();
		var phone= jQuery("#phone").val();
		var couponCode= jQuery("#couponCode").val();
		var key = "querylog.do?queryKey=couponorder.querylog";
		if (orderId != "") {
			key = key + '&orderId=' + encodeURI(orderId);
		}
		if (optdate != "") {
			key = key + '&optdate=' + encodeURI(optdate);
		}
		if (moduser != "") {
			key = key + '&moduser=' + encodeURI(moduser);
		}
		if (phone != "") {
			key = key + '&phone=' + encodeURI(phone);
		}
		if (couponCode != "") {
			key = key + '&couponCode=' + encodeURI(couponCode);
		}
		$('#grid').omGrid("setData", key);
	}


</script>
</head>
<body>
   <!--列表查询区-->
	<div class="list_search" style="height: 40px;">
		<table width="100%" border="0">
			<tr>
				<td>
					<form id="form" action="" method="post">
						<table width="100%" border="0">
							<tr height="50">
								<th width="8%" height="30">
									订单编号：
								</th>
								<td>
									<input id="orderId" name="orderId" maxlength="32" class="input2" />
								</td>
								<th width="8%">
									兑换码：
								</th>
								<td>
									<input id="couponCode" name="couponCode" maxlength="12" class="input2" />
								</td>
								<th width="8%">
									手机号：
								</th>
								<td>
									<input id="phone" name="phone" maxlength="14" class="input1" />
								</td>
								<th width="8%">
									操作人：
								</th>
								<td>
									<input id="moduser" name="moduser" maxlength="16" class="input1" />
								</td>
								<th width="8%">
									操作时间：
								</th>
								<td>
									<input id="optdate" name="optdate"  class="input1"
										onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd',el:'optdate',isShowWeek:true})"/>
								</td>
							</tr>
						</table>
					</form>
				</td>
				<td rowspan="2">&nbsp;
					<input id="query" name="query" type="image" value="ee"
						src="${request.contextPath}/profile/default/images/Search_bnt.png"
						onclick="queryLog()" />
				</td>
			</tr>
		</table>
	</div>
	
	<!--列表查询区-->

  <div align="center">
         <table  align="left" id="grid" ></table>
     </div>

</body>
</html>
